/* nav bar css */
nav {
    display: flex;
    flex-direction: row;
}

nav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 15px;
    align-self: center;
}

nav a:hover, #home:hover {
    color: rgb(124, 7, 7);
}

nav a.active, #home.active {
    color: rgb(97, 97, 97);
    border-bottom: 2px rgb(124, 7, 7);
}

#home {
    color: black;
    padding: 14px 20px;
    font-size: 18px;
    align-self: center;
}

/* gameProjects.html, work.html content css */
#project-gallery, #projectType-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .project, .projectType {
    width: calc(50% - 20px);
    margin-bottom: 40px;
  }
  
  .project img, .projectType img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    object-fit: cover;
  }
  
  .project h2, .projectType h2 {
    font-size: 20px;
    margin: 0;
  }
  
/* .thumbnailContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.thumbnailContainer figure img {
    height: 400px;
    width: 400px;
    object-fit: cover;
} */

.footer {
    text-align: center;
}

/* general css */
a {
    text-decoration: none;
}

h1 {
    text-align: center;
}
