/* nav bar css */
nav {
    overflow: hidden;
    /* display: flex;
    flex-direction: row; */
}

nav a {
    float: right;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-size: 15px;
    align-self: center;
}

nav a:hover,
#home:hover {
    color: rgb(124, 7, 7);
}

nav a.active,
#home.active {
    color: rgb(97, 97, 97);
    border-bottom: 2px rgb(124, 7, 7);
}

#home {
    float: left;
    color: black;
    padding: 14px 20px;
    font-size: 18px;
    align-self: center;
}

/* gameProjects.html, work.html content css */
#project-gallery,
#projectType-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project,
.projectType {
    width: calc(50% - 20px);
    margin-bottom: 40px;
}

.project img,
.projectType img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    object-fit: cover;
}

.project h2,
.projectType h2 {
    font-size: 20px;
    margin: 0;
}

/* projectDetail pages content css */
.gallery {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 400px;
}

.gallery li {
    display: inline-block;
    margin-right: 10px;
}

.gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery figcaption {
    display: block;
    font-size: 14px;
    margin-top: 5px;
    text-align: center;
}

.projectDetail-content {
    padding: 10%;
}

.projectDetail-content p {
    padding-left: 5%;
    padding-right: 5%;
}

/* general css */
a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

.footer {
    text-align: center;
}
